{% extends "blog/base.html" %}

{% block title %}Share a post{% endblock %}

{% block content %}
    {% if sent %}
        <h1>E-mail successfully sent</h1>
        <p>"{{ post.title }}" was successfully sent by e-mail.</p>
    {% else %}
        <h1>Share "{{ post.title }}" by e-mail</h1>
        <form action="." method="post">
        <!-- Form action is "." When reload this page it's not get anymore instead it is post, so an email will be sent-->
            {{ form.as_p }} <!--render form as paragraph, as_ul, as_table -->
            {% csrf_token %} <!--hidden field void attacks-->
            <input type="submit" value="Send e-mail">
        </form>
    {% endif %}
{% endblock %}
